{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deposit Money</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <h3>MMA Bank</h3>
      <div>
        <a href="{% url 'dashboard' %}" class="button">Dashboard</a>
        <form method="POST" action="{% url 'logout' %}" style="display: inline">
          {% csrf_token %}
          <button type="submit" class="btn">Logout</button>
        </form>
      </div>
    </div>

    <div class="dashboard-container">
      <h2 class="dashboard-title">Deposit Money</h2>

      <div class="form-container">
        <form method="POST" class="deposit-form">
          {% csrf_token %}
          <div class="deposit-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              name="amount"
              id="amount"
              placeholder="Enter amount to deposit"
              required
              step="0.01"
            />
          </div>
          <button type="submit" class="btn-sec">Deposit</button>
        </form>

        <a href="{% url 'dashboard' %}" class="btn"
          >Back to Dashboard</a
        >
      </div>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <footer>
      <p>&copy; 2024 MMA Bank. All Rights Reserved.</p>
    </footer>
  </body>
</html>
