{% extends 'bank/base.html' %} {% block title %} Login {% endblock %} 
{% block navbar %}
<a href="{% url 'register' %}" class="button">Register </a>
{% endblock %}
{% block content %}
<div class="Login-container">
  <h2>Login</h2>
  <form method="POST" class="Login-form">
    {% csrf_token %}

    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>

    <div class="Login-button">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
{% endblock %}
